<div class="main_container" id="create_container">
    
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"> Nome </label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{item.name}}" >
    </div>
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"> Preço </label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{item.price}}">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"> Data </label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{item.date}}">
    </div>

    <label for="select" class="form-label"> Profit </label>
    <select class="form-select" aria-label="Default select example">
        
        <option value="true" {{#if (eq item.profit 'true')}}selected{{/if}}>Sim</option>
        <option value="false" {{#if (eq item.profit 'false')}}selected{{/if}}>Não</option>

    </select>

    <button type="submit" class="btn btn-primary" id="create-button"> EDITAR </button>
</form>

</div>

<form action="/delete/{{item.id}}" method="POST">
    <button type="submit" class="btn btn-danger fab"> <ion-icon name="trash-outline"></ion-icon> </button>
</form>

