<div class="main_container" id="home_container">

    <h1> Boas vindas às suas finanças! </h1>

            
            <h4> Como <strong> você </strong> deseja começar? </h4>
            
            {{!-- <div id="carouselExampleInterval" class="carousel slide carousel-dark" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        
                        <img src="images/despesas.png" onclick="window.location.href='/read'">

                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                    
                        <img src="images/new_Gasto.png" onclick="window.location.href='/create'">

                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div> --}}


    <div id="option">
        <img src="images/despesas.png" onclick="window.location.href='/read'" >
        <img src="images/new_Gasto.png" onclick="window.location.href='/create'">
    </div>

</div>