<div class="main_container" id="login-container">

    <div id="login-form">

      <h2> Acesse a <br> <strong> Finance Vision </strong> </h2>

      <form action="/login" method="post">
        <input type="text" name="email" placeholder="E-mail" required>
        <input type="password" name="password" placeholder="Senha" required>
        <button type="submit">Entrar</button>
      </form>

      <span> Não possui conta? <a href="/register"> <strong> Cadastre-se </strong> </a> </span>

    </div>

</div>