<div class="main_container" id="singup-container">

    <div id="singup-form">

      <h2> Registre-se na <br> <strong> Finance Vision </strong> </h2>

      <form action="/singup" method="post">
        <input type="text" name="email" placeholder="E-mail" required>
        <input type="password" name="password" placeholder="Senha" required>

        <button type="submit"> Cadastrar </button>
      </form>

    <span> Já possui conta? <a href="/login"> <strong> Entre </strong> </a> </span>

    </div>

</div>