#home_container
{
    padding: 5vh;

    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#home_container h1
{
    font-size: 5vh;
    font-weight: bold;

    padding-bottom: 5vh;
    
}

#home_container .card
{
    color: #121212;

    width: 100vh;

    margin: 5vh auto;
}

#home_container .card .card-body h4
{
    font-weight: normal;

    padding: 1vh;
    border-bottom: 0.2vh solid #121212;
}

#option
{
    display: flex;
    gap: 0.5vh;

    margin: 2vh;
}

#option img
{

    height: auto;
    width: 55vh;

    transition: all 0.4s ease-in-out;

    border: 0.2vh solid #121212;

}

#option img:hover
{
    transform: scale(1.02);
    cursor: pointer;

    filter: invert(1);

    box-shadow: 0 0 1vh 0.5vh #8f8f8f;
}